.DS_Store
*/.DS_Store
*.csv
*.shx
*.shp
*.qpj
*.prj
*.dbf
*.cpg
*.sbx
*.sbn
*.xml
*.bna
*.pdf
*.py
*.qgs~
*.qgs
*.qml
*.ocd
*.cnt
*.style
*.mxd
*.lyr
*.tif
*.tfw
*.html
*.reg
*.txt
*.otf

.ipynb_checkpoints/*

_input/ch_relief_bw.tif
!input/qgis_raster_01.png
!_input/qgis_raster_02.png
!_output/swiss_regional_demographics_2021.jpg




